{% if site.comments.provider %}
  <section id="comments" class="page__comments">
    {% if site.comments.provider == "disqus" %}
      {% include comments/disqus.html %}
    {% elsif site.comments.provider == "discourse" %}
      {% include comments/discourse.html %}
    {% elsif site.comments.provider == "facebook" %}
      {% include comments/facebook.html %}
    {% elsif site.comments.provider == "staticman" %}
      {% include comments/staticman.html %}
    {% elsif site.comments.provider == "giscus" %}
      <h4 class="page__comments-title">Comments</h4>
      <script src="https://giscus.app/client.js"
              data-repo="{{ site.comments.giscus.repo }}"
              data-repo-id="{{ site.comments.giscus.repo_id }}"
              data-category="{{ site.comments.giscus.category }}"
              data-category-id="{{ site.comments.giscus.category_id }}"
              data-mapping="{{ site.comments.giscus.mapping }}"
              data-reactions-enabled="{{ site.comments.giscus.reactions_enabled }}"
              data-emit-metadata="{{ site.comments.giscus.emit_metadata }}"
              data-input-position="{{ site.comments.giscus.input_position }}"
              data-theme="{{ site.comments.giscus.theme }}"
              data-lang="{{ site.comments.giscus.lang }}"
              crossorigin="anonymous"
              async>
      </script>
    {% elsif site.comments.provider == "custom" %}
      {% include comments/custom.html %}
    {% endif %}
  </section>
{% endif %}