---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% if page.author_profile %}
    {% include sidebar.html %}
  {% endif %}

  <style>
    .archive {
      max-width: 1200px; /* Adjust as needed for your desired width */
      margin: 0 auto;
      padding: 0 1rem; /* Add some horizontal padding */
    }
    .archive .page__title {
      text-align: center;
    }
  </style>

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>
